@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: #242424;
  color: #242424;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: aliceblue;
  width: 200px;
  height: 300px;
  font-size: 50px;
  border-radius: 4%;
}

#numeroAleatorio {
  /*height: 100%;*/
  margin-top: 60px;
  display: flex;
  justify-content: center;
  /*align-items: center;*/
}

#random {
  padding-left: 10px;
  transition: 1s linear;
}

#randomIcon2 {
  height: 40%;
  margin-right: 10px;
  transform: rotate(180deg);
  transition: 1s linear;
}
